name: C Build Simple
# 觸發條件：當 push 程式碼到任何分支時
on: [push]

jobs:
  build:
    # 執行環境：使用預裝了 GCC 的最新 Ubuntu 虛擬機
    runs-on: ubuntu-latest
    
    steps:
      # 步驟 1: 取得 repo 中的程式碼
      - name: Checkout code
        uses: actions/checkout@v4 
        
      # 步驟 2: 編譯 C 語言程式
      # 使用 GCC 編譯 main.c，輸出名為 hello_c_app 的可執行檔
      - name: Compile encoder
        run: gcc encoder.c -o encoder.exe -lm
        
      # 步驟 3: 運行並驗證程式（直接執行程式）
      - name: Upload encoder
        uses: actions/upload-artifact@v4
        with:
          name: encoder-exe
          path: encoder.exe
        
      # 步驟 4: 上傳建置成品（可選）
      # 將編譯好的可執行檔儲存為 Artifact，供下載
      - name: Compile decoder
        run: gcc decoder.c -o decoder.exe -lm

      - name: Upload decoder
        uses: actions/upload-artifact@v4
        with:
          name: decoder-exe
          path: decoder.exe

          
      - name: Run encoder
        run: ./encoder.exe test_input_simple.txt test_codebook-simple.csv test_encoded-simple.bin > test_encoder-simple.log 2>&1

      - name: Upload encoded-simple.bin
        uses: actions/upload-artifact@v4
        with:
          name: encoded-simple
          path: test_encoded-simple.bin

      - name: Upload codebook-simple.bin
        uses: actions/upload-artifact@v4
        with:
          name: codebook-simple
          path: test_codebook-simple.csv

      - name: Upload encoder-simple.log
        uses: actions/upload-artifact@v4
        with:
          name: encoder-log-simple
          path: test_encoder-simple.log
          
      - name: Run decoder
        run: ./decoder.exe test_output-simple.txt test_codebook-simple.csv test_encoded-simple.bin > test_decoder-simple.log 2>&1

      - name: Upload output-simple.txt
        uses: actions/upload-artifact@v4
        with:
          name: output-simple
          path: test_output-simple.txt

      - name: Upload decoder-simple.log
        uses: actions/upload-artifact@v4
        with:
          name: decoder-log-simple
          path: test_decoder-simple.log

      - name: Compare input and output
        run: diff -a test_input_simple.txt test_output-simple.txt